<html>
	<head>
	  <link href="/style.css" rel="stylesheet"/>
	</head>
	<body>
		<div id="container">
			<h1>API Project: Request Header Parser Microservice</h1><br/>

			<h3>User Story:</h3><br/
			<p>1. I can get the IP address, preferred languages (from header Accept-Language)
and system infos (from header User-Agent) for my device.</p><br/>

			<h3>Example Usage:</h3><br/>
			<a href="./api/whoami">http://</a><br/>
			<h3>Example Output:</h3>
			<code>
			{<br/>
				&nbsp;"ipaddress":"159.20.14.100",<br/>
				&nbsp;"language":"en-US,en;q=0.5",<br/>
				&nbsp;"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"<br/>
			}
			</code>

		</div>
		<br/>
		<footer>For <a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice">Free code Camp Project</a></footer>
	</body>
</htm>